{
  "openapi": "3.1.0",
  "info": {
    "title": "Datadash API",
    "version": "0.1.0",
    "description": "Named REST facade over MetadataService.ListTable, generated from event-analytics metadata."
  },
  "servers": [
    {
      "url": "https://api.datadash.xyz"
    }
  ],
  "paths": {
    "/v1/activity/list": {
      "post": {
        "operationId": "listActivity",
        "summary": "Enriched Activities",
        "description": "Prediction market activity log with enriched metadata",
        "tags": [
          "activity"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/ActivityWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: activity, timestamp, wallet, txHash, amount, usdPrice, usdAmount, avgBuyingPrice, realizedPnl, realizedPnlPercentage, positionId, marketId, eventId, tagIds, seriesId, seqId"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ActivityRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/userPosition/list": {
      "post": {
        "operationId": "listUserPosition",
        "summary": "User Position",
        "description": "Per-user per-position aggregated trading data",
        "tags": [
          "userPosition"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/UserPositionWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: userId, positionId, marketId, eventId, tagIds, seriesId, totalBoughtShares, totalBoughtUsd, totalSoldShares, totalSoldUsd, currentlyHeldShares, avgBuyingPrice, avgSellingPrice, realizedPnl, totalBuyCost, realizedPnlPercentage, realizedAvgBuyingPrice, totalTrades, firstTradeTimestamp, latestTradeTimestamp, unrealizedUsd, positionSize"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserPositionRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/user/list": {
      "post": {
        "operationId": "listUser",
        "summary": "User",
        "description": "User information lookup",
        "tags": [
          "user"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/UserWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: userId, displayName, pseudonym, bio, profileImageUrl, xUsername, verifiedBadge, createdAt, pnl, rank"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/event/list": {
      "post": {
        "operationId": "listEvent",
        "summary": "Event",
        "description": "Event information lookup",
        "tags": [
          "event"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/EventWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: id, slug, title, description, startDate, endDate, image, icon, active, closed, archived, liquidity, volume, volume24h, openInterest, seriesId, tagIds, traders, trades, topMarketPrice, topMarketGroupItemTitle, volume1wk, volume1mo, volume1yr, topMarketOneHourPriceChange, topMarketOneDayPriceChange, topMarketOneWeekPriceChange, topMarketOneMonthPriceChange, topMarketOneYearPriceChange, topTokenName"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EventRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/market/list": {
      "post": {
        "operationId": "listMarket",
        "summary": "Market",
        "description": "Market information lookup",
        "tags": [
          "market"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/MarketWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: id, question, slug, groupItemTitle, startDate, endDate, image, icon, description, active, closed, archived, volume, volume24h, liquidity, openInterest, eventId, eventSlug, outcomeNames, outcomePrices"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MarketRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/token/list": {
      "post": {
        "operationId": "listToken",
        "summary": "Token",
        "description": "Token information lookup",
        "tags": [
          "token"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/TokenWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: positionId, tokenName, tokenPrice, isYesToken, marketId, marketQuestion, marketSlug, marketIcon, marketGroupItemTitle, marketClosed, marketVolume, marketVolume24h, marketTraders, marketTrades, marketLiquidity, marketOpenInterest, marketEndDate, eventId, eventSlug, marketOneDayPriceChange, tokenId, marketClosedTime, marketStartDate, tagIds"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TokenRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/tag/list": {
      "post": {
        "operationId": "listTag",
        "summary": "Tag",
        "description": "Tag information lookup",
        "tags": [
          "tag"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/TagWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: id, label, slug, numEvents, numTraders"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TagRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/series/list": {
      "post": {
        "operationId": "listSeries",
        "summary": "Series",
        "description": "Series information lookup",
        "tags": [
          "series"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/SeriesWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: id, ticker, slug, title, subtitle, seriesType, recurrence, image, icon, active, closed, archived, featured, restricted"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SeriesRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/userTagProfile/list": {
      "post": {
        "operationId": "listUserTagProfile",
        "summary": "User Tag Profile",
        "description": "Per-user per-tag performance profiles by duration",
        "tags": [
          "userTagProfile"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/UserTagProfileWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: tagId, userId, realizedPnl, wins, losses, profit, loss, volume, profitFactor, positions, winRate, realizedBuyCost, roi, holdTime, numTrades, numPredictions, avgTradesPerPrediction, rank"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserTagProfileRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/tagProfile/list": {
      "post": {
        "operationId": "listTagProfile",
        "summary": "Tag Profile",
        "description": "Per-tag performance profiles by duration",
        "tags": [
          "tagProfile"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/TagProfileWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: tagId, realizedPnl, wins, losses, profit, loss, volume, profitFactor, positions, winRate, realizedBuyCost, roi, holdTime, numTrades, numPredictions, avgTradesPerPrediction, totalUsers, rank"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TagProfileRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/cohortPerformance/list": {
      "post": {
        "operationId": "listCohortPerformance",
        "summary": "Cohort Performance",
        "description": "Aggregated cohort performance profile",
        "tags": [
          "cohortPerformance"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/CohortPerformanceWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: pnl, avgPnlPerPrediction, wins, losses, winRate, volume, avgHoldingTime, avgTradesPerPrediction, roi, profitFactor, profit, loss"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CohortPerformanceRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/userProfile/list": {
      "post": {
        "operationId": "listUserProfile",
        "summary": "User Profile",
        "description": "Aggregated user performance profiles by duration",
        "tags": [
          "userProfile"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/UserProfileWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: userId, realizedPnl, wins, losses, profit, loss, volume, profitFactor, positions, winRate, realizedBuyCost, roi, holdTime, numTrades, numSplitTrades, numMergeTrades, numRedeemTrades, numConvertTrades, numP2pTrades, numPredictions, avgTradesPerPrediction, count, rank"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserProfileRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/activePosition/list": {
      "post": {
        "operationId": "listActivePosition",
        "summary": "Active Position",
        "description": "Currently held positions with open PnL",
        "tags": [
          "activePosition"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/ActivePositionWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: positionId, shares, avgBuyPrice, unrealizedCurrentPrice, value, unrealizedPnl, roi, tokenId, invested"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ActivePositionRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/allPosition/list": {
      "post": {
        "operationId": "listAllPosition",
        "summary": "All Positions",
        "description": "All positions of a wallet/cohort. Used in All Portfolio Tab",
        "tags": [
          "allPosition"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/AllPositionWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: eventId, shares, avgBuyPrice, exitPrice, invested, pnl, roi, marketClosed, unrealizedShares, unrealizedPnl, positions"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AllPositionRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/closedPosition/list": {
      "post": {
        "operationId": "listClosedPosition",
        "summary": "Closed Positions",
        "description": "Closed (exited) positions of a wallet/cohort, grouped by event. Used in Closed Portfolio Tab.",
        "tags": [
          "closedPosition"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/ClosedPositionWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: eventId, shares, avgBuyPrice, exitPrice, invested, pnl, roi, positions"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ClosedPositionRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/cohortPortfolioValue/list": {
      "post": {
        "operationId": "listCohortPortfolioValue",
        "summary": "Cohort Portfolio Value",
        "description": "Aggregated cohort portfolio",
        "tags": [
          "cohortPortfolioValue"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/CohortPortfolioValueWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: value, avgPositionSize"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CohortPortfolioValueRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/marketHolder/list": {
      "post": {
        "operationId": "listMarketHolder",
        "summary": "All Market Holder",
        "description": "User-level aggregation of market positions with nested token details",
        "tags": [
          "marketHolder"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/MarketHolderWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: userId, outcomes, invested, totalPnl, unrealizedPnl, pnlPercentage, tokenMetadata, volume, currentValue"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MarketHolderRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/closedMarketHolder/list": {
      "post": {
        "operationId": "listClosedMarketHolder",
        "summary": "Closed Market Holder",
        "description": "User-level aggregation of closed (exited) market positions with nested token details",
        "tags": [
          "closedMarketHolder"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/ClosedMarketHolderWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: userId, outcomes, invested, totalPnl, pnlPercentage, tokenMetadata, volume"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ClosedMarketHolderRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/activeMarketHolder/list": {
      "post": {
        "operationId": "listActiveMarketHolder",
        "summary": "Active Market Holder",
        "description": "User-level aggregation of currently-held (active) market positions with nested token details",
        "tags": [
          "activeMarketHolder"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/ActiveMarketHolderWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: userId, outcomes, invested, totalPnl, pnlPercentage, tokenMetadata, currentValue"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ActiveMarketHolderRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/activityLivenessTimestamp/list": {
      "post": {
        "operationId": "listActivityLivenessTimestamp",
        "summary": "Activity Liveness Timestamp",
        "description": "Fetches max timestamp of activities to determine latest time of activity present in DB",
        "tags": [
          "activityLivenessTimestamp"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/ActivityLivenessTimestampWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: timestamp"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ActivityLivenessTimestampRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/pnlDeltaHistorical/list": {
      "post": {
        "operationId": "listPnlDeltaHistorical",
        "summary": "Pnl Delta Historical",
        "description": "Historical PnL per user bucketed by chart time-range granularity",
        "tags": [
          "pnlDeltaHistorical"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/PnlDeltaHistoricalWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: timestampStr, pnlDelta, minTimestamp"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PnlDeltaHistoricalRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/openInterestChart/list": {
      "post": {
        "operationId": "listOpenInterestChart",
        "summary": "Open Interest Chart",
        "description": "Per-market open interest by date",
        "tags": [
          "openInterestChart"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/OpenInterestChartWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: date, openInterest"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OpenInterestChartRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/cohortDynamicOverview/list": {
      "post": {
        "operationId": "listCohortDynamicOverview",
        "summary": "Cohort Dynamic Overview",
        "description": "Per-user performance profile for the ALL duration, computed live from user positions (CTE merged into the parent aggregates).",
        "tags": [
          "cohortDynamicOverview"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/CohortDynamicOverviewWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: userId, realizedPnl, wins, losses, profit, loss, volume, profitFactor, positions, winRate, realizedBuyCost, roi, holdTime, numTrades, numPredictions, avgTradesPerPrediction"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CohortDynamicOverviewRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/seriesEvents/list": {
      "post": {
        "operationId": "listSeriesEvents",
        "summary": "Series Events",
        "description": "One row per series joined with the soonest-ending non-ended event (\"first event\")\nflattened into `firstEvent*` properties, plus a JSON array of the top-5 events in\n`topEvents`. Filter `tagIds` to scope to a category — matches series whose first\nevent has the tag. Series with no live or upcoming events are excluded.\n",
        "tags": [
          "seriesEvents"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/SeriesEventsWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: seriesId, seriesTitle, seriesSlug, seriesImage, seriesIcon, eventCount, firstEventId, seriesRecurrence, seriesType, firstEventSlug, firstEventTitle, firstEventIcon, firstEventVolume, firstEventVolume24h, firstEventStartDate, firstEventEndDate, firstEventTopMarketPrice, firstEventTopMarketOutcome, firstEventLiquidity, firstEventOpenInterest, firstEvent24hChange, firstEventTraders, firstEventTrades, topEvents, seriesVolume24h, seriesVolume, seriesLiquidity"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SeriesEventsRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/seriesCountsByTag/list": {
      "post": {
        "operationId": "listSeriesCountsByTag",
        "summary": "Series Counts By Tag",
        "description": "Per-tag count of distinct series and events. Powers the category sidebar on the\ncrypto/sports/etc. pages — request with `tagId IN (...)` to get a (tagId, seriesCount)\npair per tag. ARRAY JOINs tag_ids so each (event, tag) pair contributes once.\n",
        "tags": [
          "seriesCountsByTag"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/SeriesCountsByTagWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: tagId, seriesCount, eventCount"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SeriesCountsByTagRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/userPositionActivity/list": {
      "post": {
        "operationId": "listUserPositionActivity",
        "summary": "User Position Activity",
        "description": "...",
        "tags": [
          "userPositionActivity"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/UserPositionActivityWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: bucket, activity, usdAmount, amount, realizedPnl, count"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/UserPositionActivityRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/marketPriceChart/list": {
      "post": {
        "operationId": "listMarketPriceChart",
        "summary": "Market Price Chart",
        "description": "Per-position time-bucketed USD price series over enriched activities. Buckets\ntrades into intervals of $1 seconds (passed as a runtime primitive arg) and\nreturns, per (position, bucket), the last (argMax by timestamp), max and median\ntrade price. Powers per-position price charts — request with `positionId IN (...)`.\n",
        "tags": [
          "marketPriceChart"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/MarketPriceChartWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: positionId, bucket, argmaxPrice"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MarketPriceChartRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/marketPriceBoundary/list": {
      "post": {
        "operationId": "listMarketPriceBoundary",
        "summary": "Market Price Boundary",
        "description": "Gets the min and max price for each activity in enriched activities for a market. Used to plot the price chart by filling in case there's missing data points.",
        "tags": [
          "marketPriceBoundary"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/MarketPriceBoundaryWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: argMaxPrice, argMinPrice"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MarketPriceBoundaryRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/signalScore/list": {
      "post": {
        "operationId": "listSignalScore",
        "summary": "Signal Score",
        "description": "Per-(wallet, position) insider score for currently-held legs in active markets",
        "tags": [
          "signalScore"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/SignalScoreWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: userId, positionId, marketId, eventId, tagIds, avgEntryPrice, totalBoughtShares, tradeSize, relSize, daysToResolution, pNow, slipAbs, score"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SignalScoreRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/signalTagCounts/list": {
      "post": {
        "operationId": "listSignalTagCounts",
        "summary": "Signals Tag counts",
        "description": "Signals Tag information lookup",
        "tags": [
          "signalTagCounts"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/SignalTagCountsWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: id, count"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SignalTagCountsRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/smartMoneySummary/list": {
      "post": {
        "operationId": "listSmartMoneySummary",
        "summary": "Smart Money Summary",
        "description": "Single-row Yes/No summary of currently-held positions on one market, shown as the strip above the Smart Money list. Exposes the same fields as the neg-risk summary (table 37) — current-value dollars (yesValue/noValue), at-risk entry averages (yesPrice/noPrice), wallet counts, the value-share bar (smartPct) and the normalized market marker (marketPct) — so a single strip component renders both. Narrow the wallet set with the User Rank or In Signals filter. Requires exactly one Market filter.",
        "tags": [
          "smartMoneySummary"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/SmartMoneySummaryWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: yesValue, yesPrice, yesWallets, noValue, noPrice, noWallets, smartPct, marketPct"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SmartMoneySummaryRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/smartMoneyPosition/list": {
      "post": {
        "operationId": "listSmartMoneyPosition",
        "summary": "Smart Money Position",
        "description": "Per-wallet net position on one position of a normal (binary, non neg-risk) market — a wallet's Yes and No legs are netted into a single stance on the target position, so wallets netting to the opposite side are excluded. Supersedes Smart Money (table 31), which lists every held leg as its own row. Runtime args $1 = target position id; the market comes as a required filter.",
        "tags": [
          "smartMoneyPosition"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/SmartMoneyPositionWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: userId, netShares, currentValue, entryPrice, unrealizedPnl, unrealizedPnlPercentage"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SmartMoneyPositionRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/negRiskSmartMoneySummary/list": {
      "post": {
        "operationId": "listNegRiskSmartMoneySummary",
        "summary": "Neg Risk Smart Money Summary",
        "description": "Single-row Yes/No summary of the cohort's true bets on one market of a neg-risk event. The whole event book of every eligible wallet is canonicalized (net within market, convert No into the rival outcomes, skim the riskless floor — e' = e − min(e), buy cost follows pro-rata) and projected onto the target market. Exposes exactly the strip fields, mirroring the non-neg-risk summary — current-value dollars (yesValue/noValue from yes_value/no_value), at-risk entry averages (yesPrice/noPrice), wallet counts, the value-share bar (smartPct) and the normalized market marker (marketPct). Neg-risk counterpart of Smart Money Summary. Runtime args $1 = event id, $2 = target market id, $3 = signal filter (1/true => only signal legs), $4 = rank filter (0 => no filter), $5 = cohort filter enable (1/true => filter by the runtime cohort $C0).",
        "tags": [
          "negRiskSmartMoneySummary"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/NegRiskSmartMoneySummaryWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: yesValue, yesPrice, yesWallets, noValue, noPrice, noWallets, smartPct, marketPct"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NegRiskSmartMoneySummaryRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/negRiskSmartMoneyPosition/list": {
      "post": {
        "operationId": "listNegRiskSmartMoneyPosition",
        "summary": "Neg Risk Smart Money Position",
        "description": "Per-wallet holder rows for one market of a neg-risk event. Each wallet's book is canonicalized (net within market, convert No into rival outcomes with cost split by price, skim the riskless floor — e' = e − min(e)) and emits up to two legs — Side 'yes' (its true bet on the outcome) and Side 'no' (its at-risk money on the rivals, shares in NO-equivalent units). A wallet with genuine opposing bets appears on both sides; hedged pairs and riskless baskets appear on neither. Filter by Side to render the Yes/No holder columns; top 50 legs per side. Neg-risk counterpart of Smart Money. Runtime args $1 = event id, $2 = target market id, $3 = signal filter (1/true => only signal legs), $4 = rank filter (0 => no filter), $5 = cohort filter enable (1/true => filter by the runtime cohort $C0), $6 = value view (1/true => rank legs by current value, for the All cohort; else by at-risk cost).",
        "tags": [
          "negRiskSmartMoneyPosition"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/NegRiskSmartMoneyPositionWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: userId, netShares, currentValue, entryPrice, unrealizedPnl, unrealizedPnlPercentage, side, atRisk"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NegRiskSmartMoneyPositionRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/globalSmartMoney/list": {
      "post": {
        "operationId": "listGlobalSmartMoney",
        "summary": "Global Smart Money",
        "description": "Markets ranked by Edge — how far the selected wallets' dollar-weighted implied Yes probability sits above the live Yes price (always in the Yes frame; positive = smart money more bullish on Yes than the market). One row per active, liquid, non-neg-risk market, with the dominant side badge (side + its smart-money price vs market price), At Risk (total held USD), market liquidity, distinct wallets, and days left. Narrow the wallet set with the User Rank, In Signals, or cohort (Wallet) filter — all applied per wallet, before the per-market aggregation.",
        "tags": [
          "globalSmartMoney"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "where": {
                    "$ref": "#/components/schemas/GlobalSmartMoneyWhere"
                  },
                  "orderBy": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/OrderBy"
                    },
                    "description": "Sortable keys: marketId, side, isYes, smartMoneyPrice, marketPrice, yesSlippage, atRisk, liquidity, wallets, daysLeft, tagIds"
                  },
                  "page": {
                    "$ref": "#/components/schemas/Pagination"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/GlobalSmartMoneyRow"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "rows"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CategoricalCondition": {
        "type": "object",
        "description": "Categorical filter. `matches`/`notMatches` take exactly one value.",
        "properties": {
          "in": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "notIn": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "matches": {
            "type": "string"
          },
          "notMatches": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "NumericCondition": {
        "type": "object",
        "description": "Numeric filter. Multiple operators are ANDed (each becomes a leaf).",
        "properties": {
          "eq": {
            "type": "number"
          },
          "neq": {
            "type": "number"
          },
          "gt": {
            "type": "number"
          },
          "gte": {
            "type": "number"
          },
          "lt": {
            "type": "number"
          },
          "lte": {
            "type": "number"
          }
        },
        "additionalProperties": false
      },
      "TimeseriesCondition": {
        "type": "object",
        "description": "Time-range filter (maps to timeseriesCondition).",
        "properties": {
          "last": {
            "description": "Preset trailing window, e.g. \"7d\" or {unit, length}.",
            "oneOf": [
              {
                "type": "string",
                "pattern": "^\\d+[dwmhy]$"
              },
              {
                "type": "object",
                "properties": {
                  "unit": {
                    "type": "string"
                  },
                  "length": {
                    "type": "integer"
                  }
                },
                "required": [
                  "unit",
                  "length"
                ]
              }
            ]
          },
          "between": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "date"
            },
            "minItems": 2,
            "maxItems": 2
          },
          "since": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "OrderBy": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "dir": {
            "type": "string",
            "enum": [
              "asc",
              "desc"
            ],
            "default": "asc"
          }
        },
        "required": [
          "key"
        ]
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "default": 50,
            "minimum": 1,
            "maximum": 5000
          },
          "offset": {
            "type": "integer",
            "default": 0,
            "minimum": 0
          }
        }
      },
      "ActivityRow": {
        "type": "object",
        "properties": {
          "activity": {
            "description": "Type of prediction market activity",
            "type": "string",
            "enum": [
              "Buy",
              "Sell"
            ],
            "x-enum-mapping": {
              "Buy": "1",
              "Sell": "2"
            }
          },
          "timestamp": {
            "description": "When the activity occurred",
            "type": "string",
            "format": "date-time"
          },
          "wallet": {
            "description": "User wallet address who performed the activity\nEVM address (0x…).",
            "x-format": "FORMAT_ADDRESS",
            "type": "string"
          },
          "txHash": {
            "description": "Blockchain transaction hash\nTransaction hash (0x…).",
            "x-format": "FORMAT_TX_HASH",
            "type": "string"
          },
          "amount": {
            "description": "Share amount",
            "x-format": "FORMAT_NUMBER",
            "type": "number"
          },
          "usdPrice": {
            "description": "Share price in USD\nValue in cents (÷100 for dollars).",
            "x-format": "FORMAT_CURRENCY_CENTI_UNIT",
            "type": "number"
          },
          "usdAmount": {
            "description": "USD value of the shares bought/sold in the activity.\nValue in USD.",
            "x-format": "FORMAT_CURRENCY_UNIT",
            "type": "number"
          },
          "avgBuyingPrice": {
            "description": "Average buying price at the time of this activity in USD.\nValue in cents (÷100 for dollars).",
            "x-format": "FORMAT_CURRENCY_CENTI_UNIT",
            "type": "number"
          },
          "realizedPnl": {
            "description": "Realized profit and loss in USD.\nProfit/loss in USD.",
            "x-format": "FORMAT_PNL",
            "type": "number"
          },
          "realizedPnlPercentage": {
            "description": "Realized PnL as a percentage (materialized)\nPercentage, already scaled (57.5 = 57.5%).",
            "x-format": "FORMAT_PERCENTAGE",
            "type": "number"
          },
          "positionId": {
            "description": "The position bought/sold in a market.",
            "type": "integer"
          },
          "marketId": {
            "description": "The market in which the activity occurred.",
            "type": "integer"
          },
          "eventId": {
            "description": "The event in whose market the activity occurred.",
            "type": "integer"
          },
          "tagIds": {
            "description": "Tags associated with this event",
            "type": "integer"
          },
          "seriesId": {
            "description": "Series this activity's event belongs to",
            "type": "integer"
          },
          "seqId": {
            "description": "Sequence ID\n128/256-bit integer as string (precision-safe).",
            "type": "string"
          },
          "userRank": {
            "description": "User's rank",
            "type": "integer"
          },
          "timestampNum": {
            "description": "timestamp as number, used as filters",
            "type": "integer"
          }
        }
      },
      "ActivityWhere": {
        "type": "object",
        "description": "Each key ANDs into localFilters. Use `OR: [ … ]` for a MATCH_TYPE_OR group.",
        "properties": {
          "timestamp": {
            "$ref": "#/components/schemas/TimeseriesCondition"
          },
          "wallet": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "$ref": "#/components/schemas/CategoricalCondition"
              }
            ]
          },
          "amount": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "usdPrice": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "usdAmount": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "avgBuyingPrice": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "realizedPnl": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "realizedPnlPercentage": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "positionId": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "$ref": "#/components/schemas/CategoricalCondition"
              }
            ]
          },
          "marketId": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "$ref": "#/components/schemas/CategoricalCondition"
              }
            ]
          },
          "eventId": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "$ref": "#/components/schemas/CategoricalCondition"
              }
            ]
          },
          "tagIds": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "$ref": "#/components/schemas/CategoricalCondition"
              }
            ]
          },
          "seriesId": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "$ref": "#/components/schemas/CategoricalCondition"
              }
            ]
          },
          "seqId": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "userRank": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "timestampNum": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "OR": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivityWhere"
            }
          }
        },
        "additionalProperties": false
      },
      "UserPositionRow": {
        "type": "object",
        "properties": {
          "userId": {
            "description": "User wallet address\nEVM address (0x…).",
            "x-format": "FORMAT_ADDRESS",
            "type": "string"
          },
          "positionId": {
            "description": "The position bought/sold in a market.",
            "type": "integer"
          },
          "marketId": {
            "description": "Prediction market ID",
            "type": "integer"
          },
          "eventId": {
            "description": "Prediction event ID",
            "type": "integer"
          },
          "tagIds": {
            "description": "Tags associated with the event",
            "type": "integer"
          },
          "seriesId": {
            "description": "Series identifier",
            "type": "integer"
          },
          "totalBoughtShares": {
            "description": "Total shares bought",
            "x-format": "FORMAT_NUMBER",
            "type": "number"
          },
          "totalBoughtUsd": {
            "description": "Total USD spent buying\nValue in USD.",
            "x-format": "FORMAT_CURRENCY_UNIT",
            "type": "number"
          },
          "totalSoldShares": {
            "description": "Total shares sold",
            "x-format": "FORMAT_NUMBER",
            "type": "number"
          },
          "totalSoldUsd": {
            "description": "Total USD received from selling\nValue in USD.",
            "x-format": "FORMAT_CURRENCY_UNIT",
            "type": "number"
          },
          "currentlyHeldShares": {
            "description": "Shares currently held",
            "x-format": "FORMAT_NUMBER",
            "type": "number"
          },
          "avgBuyingPrice": {
            "description": "Average buying price per share\nValue in cents (÷100 for dollars).",
            "x-format": "FORMAT_CURRENCY_CENTI_UNIT",
            "type": "number"
          },
          "avgSellingPrice": {
            "description": "Average selling price per share\nValue in cents (÷100 for dollars).",
            "x-format": "FORMAT_CURRENCY_CENTI_UNIT",
            "type": "number"
          },
          "realizedPnl": {
            "description": "Realized profit and loss\nProfit/loss in USD.",
            "x-format": "FORMAT_PNL",
            "type": "number"
          },
          "totalBuyCost": {
            "description": "Total cost basis for sold shares\nValue in USD.",
            "x-format": "FORMAT_CURRENCY_UNIT",
            "type": "number"
          },
          "realizedPnlPercentage": {
            "description": "Realized PnL as a percentage\nPercentage, already scaled (57.5 = 57.5%).",
            "x-format": "FORMAT_PERCENTAGE",
            "type": "number"
          },
          "realizedAvgBuyingPrice": {
            "description": "Average buying price per share for sold shares\nValue in cents (÷100 for dollars).",
            "x-format": "FORMAT_CURRENCY_CENTI_UNIT",
            "type": "number"
          },
          "totalTrades": {
            "description": "Total number of trades done by the user for this position.",
            "x-format": "FORMAT_NUMBER",
            "type": "integer"
          },
          "firstTradeTimestamp": {
            "description": "Timestamp of the first trade",
            "type": "string",
            "format": "date-time"
          },
          "latestTradeTimestamp": {
            "description": "Timestamp of the latest trade",
            "type": "string",
            "format": "date-time"
          },
          "unrealizedUsd": {
            "description": "Unrealized USD value aka unrealized value\nValue in USD.",
            "x-format": "FORMAT_CURRENCY_UNIT",
            "type": "number"
          },
          "positionSize": {
            "description": "Size of Position\nValue in USD.",
            "x-format": "FORMAT_CURRENCY_UNIT",
            "type": "number"
          }
        }
      },
      "UserPositionWhere": {
        "type": "object",
        "description": "Each key ANDs into localFilters. Use `OR: [ … ]` for a MATCH_TYPE_OR group.",
        "properties": {
          "userId": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "$ref": "#/components/schemas/CategoricalCondition"
              }
            ]
          },
          "positionId": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "$ref": "#/components/schemas/CategoricalCondition"
              }
            ]
          },
          "marketId": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "$ref": "#/components/schemas/CategoricalCondition"
              }
            ]
          },
          "eventId": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "$ref": "#/components/schemas/CategoricalCondition"
              }
            ]
          },
          "tagIds": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "$ref": "#/components/schemas/CategoricalCondition"
              }
            ]
          },
          "seriesId": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "$ref": "#/components/schemas/CategoricalCondition"
              }
            ]
          },
          "totalBoughtShares": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "totalBoughtUsd": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "totalSoldShares": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "totalSoldUsd": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "currentlyHeldShares": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "avgBuyingPrice": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "avgSellingPrice": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "realizedPnl": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "totalBuyCost": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "realizedAvgBuyingPrice": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "totalTrades": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "firstTradeTimestamp": {
            "$ref": "#/components/schemas/TimeseriesCondition"
          },
          "latestTradeTimestamp": {
            "$ref": "#/components/schemas/TimeseriesCondition"
          },
          "unrealizedUsd": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "positionSize": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "OR": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserPositionWhere"
            }
          }
        },
        "additionalProperties": false
      },
      "UserRow": {
        "type": "object",
        "properties": {
          "userId": {
            "description": "User wallet address",
            "type": "string"
          },
          "displayName": {
            "description": "User display name",
            "type": "string"
          },
          "pseudonym": {
            "description": "User pseudonym",
            "type": "string"
          },
          "bio": {
            "description": "User biography",
            "type": "string"
          },
          "profileImageUrl": {
            "description": "User profile image URL",
            "type": "string"
          },
          "xUsername": {
            "description": "User's X (Twitter) username",
            "type": "string"
          },
          "verifiedBadge": {
            "description": "Whether the user has a verified badge",
            "type": "boolean"
          },
          "createdAt": {
            "description": "Timestamp when the user was created.",
            "type": "string",
            "format": "date-time"
          },
          "pnl": {
            "description": "User's profit and loss.\nProfit/loss in USD.",
            "x-format": "FORMAT_PNL",
            "type": "number"
          },
          "lowercaseUserId": {
            "description": "User wallet address in Lowercase",
            "type": "string"
          },
          "rank": {
            "description": "User's profit and loss.",
            "type": "integer"
          }
        }
      },
      "UserWhere": {
        "type": "object",
        "description": "Each key ANDs into localFilters. Use `OR: [ … ]` for a MATCH_TYPE_OR group.",
        "properties": {
          "userId": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "$ref": "#/components/schemas/CategoricalCondition"
              }
            ]
          },
          "displayName": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "$ref": "#/components/schemas/CategoricalCondition"
              }
            ]
          },
          "verifiedBadge": {
            "type": "boolean"
          },
          "lowercaseUserId": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "$ref": "#/components/schemas/CategoricalCondition"
              }
            ]
          },
          "OR": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserWhere"
            }
          }
        },
        "additionalProperties": false
      },
      "EventRow": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Event identifier",
            "type": "integer"
          },
          "slug": {
            "description": "URL-friendly event slug",
            "type": "string"
          },
          "title": {
            "description": "Event title",
            "type": "string"
          },
          "description": {
            "description": "Detailed event description",
            "type": "string"
          },
          "startDate": {
            "description": "Event start date",
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "description": "Event end date",
            "type": "string",
            "format": "date-time"
          },
          "image": {
            "description": "Event banner image URL",
            "type": "string"
          },
          "icon": {
            "description": "Event icon URL",
            "type": "string"
          },
          "active": {
            "description": "Whether the event is currently active",
            "type": "boolean"
          },
          "closed": {
            "description": "Whether the event has been resolved",
            "type": "boolean"
          },
          "archived": {
            "description": "Whether the event is archived",
            "type": "boolean"
          },
          "liquidity": {
            "description": "Total liquidity across all markets in this event\nValue in USD.",
            "x-format": "FORMAT_CURRENCY_UNIT",
            "type": "number"
          },
          "volume": {
            "description": "Total trading volume for this event\nValue in USD.",
            "x-format": "FORMAT_CURRENCY_UNIT",
            "type": "number"
          },
          "volume24h": {
            "description": "Trading volume in the last 24 hours\nValue in USD.",
            "x-format": "FORMAT_CURRENCY_UNIT",
            "type": "number"
          },
          "openInterest": {
            "description": "Total open interest across all markets\nValue in USD.",
            "x-format": "FORMAT_CURRENCY_UNIT",
            "type": "number"
          },
          "seriesId": {
            "description": "Series this event belongs to",
            "type": "integer"
          },
          "tagIds": {
            "description": "Tags associated with this event",
            "type": "integer"
          },
          "traders": {
            "description": "Number of unique traders in this event",
            "type": "integer"
          },
          "trades": {
            "description": "Number of trades in this event",
            "type": "integer"
          },
          "competitive": {
            "description": "Competitive field from polymarket api",
            "type": "number"
          },
          "topMarketPrice": {
            "description": "Price of the YES token of the top market (last trade price)\nValue in cents (÷100 for dollars).",
            "x-format": "FORMAT_CURRENCY_CENTI_UNIT",
            "type": "number"
          },
          "topMarketGroupItemTitle": {
            "description": "Outcome name of the top market",
            "type": "string"
          },
          "volume1wk": {
            "description": "Trading volume in the last week\nValue in USD.",
            "x-format": "FORMAT_CURRENCY_UNIT",
            "type": "number"
          },
          "volume1mo": {
            "description": "Trading volume in the last month\nValue in USD.",
            "x-format": "FORMAT_CURRENCY_UNIT",
            "type": "number"
          },
          "volume1yr": {
            "description": "Trading volume in the last year\nValue in USD.",
            "x-format": "FORMAT_CURRENCY_UNIT",
            "type": "number"
          },
          "topMarketOneHourPriceChange": {
            "description": "1-hour price change of the top market (max YES token price) in this event\nPercentage, already scaled (57.5 = 57.5%).",
            "x-format": "FORMAT_PERCENTAGE",
            "type": "number"
          },
          "topMarketOneDayPriceChange": {
            "description": "24-hour price change of the top market (max YES token price) in this event\nPercentage, already scaled (57.5 = 57.5%).",
            "x-format": "FORMAT_PERCENTAGE",
            "type": "number"
          },
          "topMarketOneWeekPriceChange": {
            "description": "1-week price change of the top market (max YES token price) in this event\nPercentage, already scaled (57.5 = 57.5%).",
            "x-format": "FORMAT_PERCENTAGE",
            "type": "number"
          },
          "topMarketOneMonthPriceChange": {
            "description": "1-month price change of the top market (max YES token price) in this event\nPercentage, already scaled (57.5 = 57.5%).",
            "x-format": "FORMAT_PERCENTAGE",
            "type": "number"
          },
          "topMarketOneYearPriceChange": {
            "description": "1-year price change of the top market (max YES token price) in this event\nPercentage, already scaled (57.5 = 57.5%).",
            "x-format": "FORMAT_PERCENTAGE",
            "type": "number"
          },
          "topTokenName": {
            "description": "Outcome name of the top token",
            "type": "string"
          },
          "bidAskSpread": {
            "description": "Bid Ask spread of the top market\nValue in cents (÷100 for dollars).",
            "x-format": "FORMAT_CURRENCY_CENTI_UNIT",
            "type": "number"
          },
          "compositeTitle": {
            "description": "Composite event title with market's group item title",
            "type": "string"
          }
        }
      },
      "EventWhere": {
        "type": "object",
        "description": "Each key ANDs into localFilters. Use `OR: [ … ]` for a MATCH_TYPE_OR group.",
        "properties": {
          "id": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "$ref": "#/components/schemas/CategoricalCondition"
              }
            ]
          },
          "slug": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "$ref": "#/components/schemas/CategoricalCondition"
              }
            ]
          },
          "startDate": {
            "$ref": "#/components/schemas/TimeseriesCondition"
          },
          "endDate": {
            "$ref": "#/components/schemas/TimeseriesCondition"
          },
          "active": {
            "type": "boolean"
          },
          "closed": {
            "type": "boolean"
          },
          "archived": {
            "type": "boolean"
          },
          "liquidity": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "volume": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "volume24h": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "openInterest": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "seriesId": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "$ref": "#/components/schemas/CategoricalCondition"
              }
            ]
          },
          "tagIds": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              {
                "$ref": "#/components/schemas/CategoricalCondition"
              }
            ]
          },
          "topMarketPrice": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "volume1wk": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "volume1mo": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "volume1yr": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "topMarketOneHourPriceChange": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "topMarketOneDayPriceChange": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "topMarketOneWeekPriceChange": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "topMarketOneMonthPriceChange": {
            "$ref": "#/components/schemas/NumericCondition"
          },
          "topMarketOneYearPriceChange": {
            "$ref": "#/components/schemas/NumericCondition"
          },
[...]
